.App {
  background-color: #282c34;
  color: white;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-consent-card {
  background-color: darkslateblue !important;
  color: white !important;
  z-index: 202;
}

.App-consent-container {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  line-height: 200%;
}

.App-introduction-image {
  border-radius: 1rem;
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 24rem;
}

.App-login-text {
  margin-top: 2rem;
}

.App-link {
  color: #61dafb;
}

.App-status {
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 4;
}

.App-toast-container {
  position: fixed;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
  z-index: 4;
}

.card-body-spaced {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.card-footer-spaced {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.toast-body {
  background-color: lightgray;
  color: #6c757d;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
