.popover {
  background-color: rgba(255, 255, 255, 0.7) !important;
}

.Map-container {
  display: flex;
  flex-direction: column;
}

.Map-controls {
  display: flex;
  flex-direction: column;
  min-width: 4rem;
  width: 4rem;
  z-index: 1;
}

.Map-content {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.Map-nav {
  width: 100vw;
  z-index: 1;
}