.popover {
  background-color: rgba(255, 255, 255, 0.7) !important;
  z-index: 2 !important;
}

.Map-container {
  display: flex;
  flex-direction: column;
}

.Map-overlay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Map-controls {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(100vh - 8rem);
  min-width: 3rem;
  z-index: 4;
}

.Map-control {
  background-color: transparent;
  margin-left: 1rem;
  margin-top: 1rem;
}

.Map-content {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.Map-help-card {
  background-color: transparent !important;
  color: #c6c8ca;
}

.Map-info {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  height: calc(100vh - 8rem);
  margin-left: 1rem;
  min-width: 3rem;
}

.Map-info-card {
  background-color: transparent;
  margin-right: 1rem;
  margin-top: 1rem;
  max-width: calc(25vw + 30rem);
  z-index: 4;
}

.Map-info-list-item {
  background-color: rgba(0, 0, 0, 0.1) !important;
  color: #c6c8ca !important;
}

.Map-info-list-item:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.Map-nav {
  width: 100vw;
  z-index: 4;
}

.Map-network-status-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}